@model doyouknowme.Controllers.profileController
@{
     Layout = "~/Views/Shared/_layout.cshtml";
}
<img @ViewBag.picture />

<p>
    Hello @ViewBag.name ! <br>
    Your email is : @ViewBag.email <br>
    your id is : @ViewBag.id <br>
    Thank You!
</p>

