@model doyouknowme.Controllers.baseController
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1416087681759804',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>



<style>
    *{
        font-family: Roboto,sans-serif;
    }
    .index-text-main{
        max-width: 400px;
        align-self: center;
    }
</style>

<div class="container">
    <h1 align="center"> Hello Richa!! </h1>
    <!--p class="index-text-main">
        Hey! Ever thought of how much does your best friend really knows about you?
        Ask them a series of Question's and test their knowledge of you!
    </p-->
    <p>
        How ya doin girl? this here is your mayte ankit sharma <br>
        :D this is fun right?<br>
        Yeee!! woman! you.....are one hell of a lady..<br>
        <b>PRO's of being with richa</b><br>
        <ul>
            <li>You get to eat momo's of she's in a good mood</li>
            <li>You get to have a technicaly interested girl as your friend (rare piece)</li>
            <li>You get to have a partner in crime, if the one and only motive of your life is to 'beizzat' your best friend</li>
        </ul>
        <b>CON's of being with richa</b>
        <ul>
            <li><p><h3>The Richa Effect: </h3>
                It states that random and spontaneous emmision of anger radiation and mood swings is to be expected.<br>
                </p>
            </li>
            <li>always carry's the standard -dull- face expression -> makes it difficult to analyze situation</li>
            <li>you get to hear that you once fell in a *nala* when it actually was a construction site for elevator -_-</li>
        </ul>
    </p>
</div>





